<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact Fuad Abdullah</title>
    <meta name="description" content="Welcome to my dynamic portfolio. Here, my life-long endeavour in Software Engineering and other relevant fields are reflected in stylish design. If you are interested in my projects or to hiring me, feel free to contact me via my contact details. The website is designed by using Bootstrap Studio!">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <%- include('../partials/_navbar') %>
    <main class="page contact-page">
        <section class="portfolio-block contact">
            <div class="container">
                <div class="heading">
                    <h2>Want to Contact Me?</h2>
                    <hr>
                    <h3>You can reach me via my social media accounts <br> or leave a message through the form down below!</h3>
                </div>
                <form>
                    <div class="form-group"><label for="name">Your Name</label>
                        <input class="form-control item" type="text" id="name" placeholder="John Doe">
                    </div>
                    <div class="form-group"><label for="subject">Subject</label>
                        <input class="form-control item" type="text" id="subject" placeholder="Subject to discuss about.">
                    </div>
                    <div class="form-group"><label for="email">Email</label>
                        <input class="form-control item" type="email" id="email" placeholder="your_email@mail.com">
                    </div>
                    <div class="form-group"><label for="message">Message</label>
                        <textarea class="form-control item" id="message" placeholder="Discuss your topic here."></textarea>
                    </div>
                    <div class="form-group"><button class="btn btn-primary btn-block btn-lg" type="submit">Leave a Message!</button></div>
                </form>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <%- include('../partials/_socialmedias') %>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>