<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Hire Fuad Abdullah</title>
    <meta name="description" content="Welcome to my dynamic portfolio. Here, my life-long endeavour in Software Engineering and other relevant fields are reflected in stylish design. If you are interested in my projects or to hiring me, feel free to contact me via my contact details. The website is designed by using Bootstrap Studio!">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <%- include('../partials/_navbar') %>
    <main class="page hire-me-page">
        <section class="portfolio-block hire-me">
            <div class="container">
                <div class="heading">
                    <h2>Interested in Hiring Me?</h2>
                    <hr>
                    <h3>You can leave your recruitment details down here <br> and I will follow up to you soon!</h3>
                </div>
                <form>
                    <div class="form-group"><label for="subject">Subject</label>
                        <select class="form-control" id="subject">
                            <option value="" selected="">Choose Subject</option>
                            <option value="1">Freelancing</option>
                            <option value="2">Contract for position at company</option>
                            <option value="3">Full-time position at company</option>
                            <option value="4">Others</option>
                        </select>
                    </div>
                    <div
                        class="form-group"><label for="email">Email</label>
                        <input class="form-control" type="email" id="email" placeholder="your_company@mail.com">
                    </div>
            <div class="form-group"><label for="message">Message</label>
                <textarea class="form-control" id="message" placeholder="Details about the recruitment."></textarea>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6"><label for="hire-date">Date</label><input class="form-control" id="hire-date" type="date"></div>
                    <div class="col-md-6 button"><button class="btn btn-primary btn-block" type="submit">Hire Me!</button></div>
                </div>
            </div>
            </form>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <%- include('../partials/_socialmedias') %>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>